.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.modalBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcf2;
  border-radius: 20px;
  gap: 30px;
  max-width: 1544px;
  max-height: 80vh;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

.title {
  font-size: 32px;
}

.button {
  width: 100%;
}

.headerButton {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerButton:hover {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0 50px 50px 50px;
  overflow-y: auto;
  padding-right: 1rem;
}

/* .modalButtons > *:nth-last-child(1):nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
} */

.modalButtons .button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  height: 100%;
  background-color: #ade1bd;
}

.modalButtons .button p {
  transition: color 0.2s ease-in-out;
}

.modalButtons .button:hover {
  background-color: #1d5564;
}

.modalButtons .button:hover p,
.modalButtons .button:hover h5 {
  color: #ade1bd;
}

.modalButtons .buttonTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  gap: 20px;
}

.modalButtons .buttonTitle h5 {
  font-weight: 700;
  white-space: pre-git wrap;
}

.modalButtons h5,
.modalButtons p {
  text-align: start;
}

.modalButtons .buttonTitle img {
  width: auto;
  height: 74px;
}

.modalButtons .buttonDesc {
  display: flex;
}
