.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.modalBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcf2;
  border-radius: 20px;
  gap: 30px;
  max-width: 1544px;
  padding: 50px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 100%;
}

.headerButton {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerButton:hover {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
