.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: #a4dcdd;
}

.headerTitle {
  margin-left: 3em;
}

.title {
  font-size: 32px;
}

.headerPageName {
  margin-right: 3em;
}

.pageName {
  font-size: 54px;
}

.block {
  width: 80vw;
  max-width: 1732px;
}

.infoBlock {
  margin-top: 5vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 20px;
  max-height: 683px;
}

.infoBlock > * {
  border-radius: 20px;
}

.cardBlock {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ade1bd;
  max-width: 537px;
}

.cardBlockImg {
  height: 80%;
}

.cardBlockText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5564;
  padding-block: 45px;
  height: 20%;
  border-radius: 0 0 20px 20px;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.cardText {
  font-weight: 500;
  text-align: center;
  color: #ade1bd;
  white-space: pre-wrap;
}

.descBlock {
  background-color: #ade1bd;
  grid-area: 1 / 2 / 2 / 4;
  padding: 40px 40px 0 40px;
}

.numberBlock {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.passwordBlock {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #ade1bd;
  padding: 2em;
  align-self: flex-end;
}

.dataTitle {
  display: flex;
  margin-bottom: 1em;
}

.titleText {
  text-wrap: nowrap;
}

.dataText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textImage {
  width: 40px;
  height: 40px;
}

.textBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  white-space: pre-wrap;
}

.buttonBlock {
  margin-top: 5vh;
}

.button {
  width: 100%;
}

.buttonText {
  color: #ade1bd;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.modalBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcf2;
  border-radius: 20px;
  /* padding: 50px; */
  gap: 30px;
  max-width: 1544px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

.headerButton {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerButton:hover {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0 50px 50px 50px;
}

.modalButtons > *:nth-last-child(1):nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}

.modalButtons .button {
  height: 100px;
  background-color: #ade1bd;
}

.modalButtons .button p {
  transition: color 0.2s ease-in-out;
}

.modalButtons .button:hover {
  background-color: #1d5564;
}

.modalButtons .button:hover p {
  color: #ade1bd;
}

.actionBox {
  display: flex;
  width: 100%;
  max-width: 1544px;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
  align-items: flex-end;
}

.actionPhone {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.phoneButton {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ade1bd;
}

.actionMessage {
  margin-right: 90px;
}

.messageButton {
  background-color: #ade1bd;
  position: relative;
  padding: 10px 20px;
}

.messageButton .buttonText {
  color: #1d5564;
}

.buttonBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: -12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #e84f4f;
  font-size: 18px;
  color: #fcfcf2;
}

.telephoneBox {
  position: relative;
  width: max-content;
  height: max-content;
}

.telephone {
  position: relative;
  width: auto;
  height: 80vh;
}

.telephoneButtons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: auto;
  bottom: 8vh;
  left: 0;
  width: 100%;
}

.telephoneButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-radius: 50%;
  width: max-content;
  height: max-content;
}

.telephoneButton img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}
