.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.modalBox {
  display: flex;
  flex-direction: column;
  background-color: #fcfcf2;
  border-radius: 20px;
  gap: 30px;
  max-width: 1544px;
  max-height: 80vh;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

.modalTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleMark {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1d5564;
  border-radius: 20%;
}

.titleMark h4 {
  color: #ade1bd;
}

.title {
  font-size: 32px;
}

.headerButton {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerButton:hover {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  margin: 0 50px 50px 50px;
}

.buttonBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.modalButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  width: 100%;
}

.acceptButton {
  background-color: #1d5564;
}

.acceptButton h4 {
  color: #ade1bd;
}

.acceptButton:hover {
  background-color: #ade1bd;
}

.acceptButton:hover h4 {
  color: #1d5564;
}

.cancleButton {
  background-color: #ade1bd;
}

.cancleButton:hover {
  background-color: #1d5564;
}

.cancleButton:hover h4 {
  color: #ade1bd;
}

.buttonDesc {
  white-space: pre-wrap;
}
