.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(29, 85, 100, 0.75);
}

.telephoneBox {
  position: relative;
  width: max-content;
  height: max-content;
}

.telephone {
  position: relative;
  width: auto;
  height: 80vh;
}

.telephoneButtons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: auto;
  bottom: 8vh;
  left: 0;
  width: 100%;
}

.telephoneButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-radius: 50%;
  width: max-content;
  height: max-content;
}

.telephoneButton img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}
